.slider {
    &_wrapper {
        position: relative;
    }
    &_description {
        position: absolute;
        top: 45%;
        width: 100%;
        max-width: 100%;
    }
    &_inner {
        margin-left: 6%;
        h1 {
            font-size: 60px;
            letter-spacing: 8px;
            span {
                background: #333;
                padding: 22px;
                font-weight: 100;
                margin-left: 10px;
                line-height: 80px;
            }
        }
    }
}

.hero {
   display: block;
   height: 15rem;
}
